.title
{
    margin: 50px 0 15px 10px;

}

.btn-carousel{
    background-color: rebeccapurple;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
}
.btn-carousel:hover{
    background-color: #3b1b59;
    color: wheat;
}
@media screen and (max-width: 700px){
    .title{
        font-size: 25px;
    }
    .btn{
        font-size: 10px;
    }
}

.img-carousel:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}